<% comments.each do |comment| %>
  <div class="border border-dark bg-white mt-2">
    <!--コメントのヘッダー-->
    <div class="d-flex bg-gainsboro border-bottom border-dark p-2">
      <span class="ml-3"><i class="fas fa-user-circle"></i><%= comment.user.name %></span>
      <div class="ml-auto">
        <%= link_to "削除", admin_item_comment_path(item.id, comment.id), method: :delete, class: "btn btn-danger btn-sm rounded-0", "data-confirm" => "削除したコメントは二度と閲覧できません。\n本当に削除しますか？"  %>
      </div>
    </div>
    <!--ここまでコメントのヘッダー-->
    
    <!--コメント本文-->
    <div class="p-2 text-break">
      <div class="d-flex">
        <span class="text-danger font-weight-bold"><%= comment.score %></span>点
        <span class="ml-auto"><%= comment.created_at.strftime("%Y/%m/%d %H:%M:%S") %></span>
      </div>
      <p class="mt-2"><%= simple_format(h(comment.comment)) %></p>
      <div class="text-right">
        <i class="fas fa-thumbs-up"></i><span class="ml-2"><%= comment.favorites.count %></span>
      </div>
    </div>
    <!--ここまでコメント本文-->
  </div>
<% end %>