<div class="container">
  <%= render "layouts/flash" %> 
  <div class="row">
    
    <div class="d-flex flex-column col-3">
      <%= render "admin/menu/main" %>
      <%= render "admin/searches/form" %>
    </div>
    
    <div class="col-6 px-0">
      <h5 class="contents-head p-2">コメント（<%= @item.name %>の評価）</h5>
      <div class="bg-white shadow-sm py-4">
        <%= render "admin/comments/card", comments: @comments, item: @item %> <!--コメント一覧の部分テンプレート-->
        <div class="d-flex justify-content-center mt-3">
          <%= paginate @comments %>
        </div>
        
      </div>
        
 
      </div>

    <div class="col-3">
      <%= render "layouts/new_list", items: @new_list_items %>
      <div class="my-3">
        <%= render "admin/items/new_btn" %>
      </div>
      
    </div>
    
  </div>
</div>