<table class="table table-border-dark">
  <thead class="bg-gainsboro text-center">
    <tr>
      <th>機種</th>
      <th>価格</th>
      <th>点数</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% items.each do |item| %>
      <tr>
        <td>
          <%= link_to admin_item_path(item.id) do %>
            <%= image_tag item.get_image, size: "70x70" %>
          <% end %>
          <%= link_to item.name, admin_item_path(item.id) %>
        </td>
        <td class="align-middle"><%= item.price&.to_s(:delimited) %>円</td>
        <td class="align-middle"><span class="my-auto"><strong class="text-danger"><%= item.comments.average(:score).to_i.round %></strong>点</span></td>
        <td class="align-middle">
          <% if item.is_draft != true %>
            <strong class="text-success">投稿済み</strong>
          <% else %>
            <strong class="text-danger">末投稿</strong>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>