<div class="border border-dark bg-white mt-2">
  <!--コメントのヘッダ-->
  <div class="d-flex bg-gainsboro border-bottom border-dark p-2">
    <span class="ml-3"><i class="fas fa-user-circle"></i><%= comment.user.name %></span>
    <div class="ml-auto">
      <% if comment.user == current_user %>
        <%= link_to "編集", edit_item_comment_path(@item.id, comment.id), class: "btn btn-success btn-sm rounded-0" %>
      <% end %>
    </div>
  </div>
  
  <!--コメントの本文-->
  <div class="p-2 text-break">
    <div class="d-flex">
      <span class="text-danger font-weight-bold"><%= comment.score %></span>点
      <span class="ml-auto"><%= comment.created_at.strftime("%Y/%m/%d %H:%M:%S") %></span>
    </div>
    <p class="mt-2"><%= simple_format(h(comment.comment)) %></p>
    <div class="d-flex flex-row-reverse" id="favorite_buttons_<%= comment.id %>">
      <%= render "public/comments/favorite", item: @item, comment: comment %>
    </div>
  </div>
  
</div>