<div class="container">
  <%= render "layouts/flash" %> 
  <div class="row">
    
    <div class="d-flex flex-column col-3">
      <%= render "public/categories/menu" %>
      <%= render "public/searches/form", url: search_path %>
      <%= render "public/categories/maker", makers: @makers %>
      <%= render "public/categories/operation_system", operation_systems: @operation_systems %>
    </div>
    
    <div class="col-6 px-0">
      <h5 class="contents-head p-2">コメント（<%= @item.name %>の評価）</h5>
      <div class="bg-white shadow-sm py-4">
        <% @comments.each do |comment| %>
          <%= render "card", comment: comment %>
        <% end %>
        
        <div class="d-flex justify-content-center mt-3">
          <%= paginate @comments %>
        </div>
        
        <div class="text-center">
          <%= link_to "コメントする", new_item_comment_path(@item.id), class: "btn btn-warning font-weight-bold rounded-0 mt-5" %>
        </div>
      </div>
      
    </div>
    
    <div class="col-3">
      <%= render "layouts/new_list", items: @new_list_items %>
    </div>
    
  </div>
</div>