<div class="container">
  <%= render "layouts/flash" %> 
  <div class="row">
    
    <div class="d-flex flex-column col-3">
      <%= render "public/categories/menu" %>
      <%= render "public/searches/form", url: search_path %>
      <%= render "public/categories/maker", makers: @makers %>
      <%= render "public/categories/operation_system", operation_systems: @operation_systems %>
    </div>
    
    <div class="col-6 px-0">
      <div class="bg-white shadow-sm">
        <h4 class="contents-head"><strong>【<%= params[:word] %>】の検索結果</strong></h4>
        
        <div class="p-3">
          <!--検索結果が見つかった場合-->
          <% if @search_items.count != 0 %>
            <table class="table table-border-dark">
              <thead class="bg-gainsboro text-center">
                <tr>
                  <th>機種</th>
                  <th>価格</th>
                  <th>中央値</th>
                  <th>発売日</th>
                </tr>
              </thead>
              <tbody>
                <% @search_items.each do |item| %>
                  <tr>
                    <td>
                      <%= link_to item_path(item.id) do %>
                        <% if item.images.attached? %>
                          <%= image_tag item.images.first, size: "70x70" %>
                        <% else %>
                          <%= image_tag 'no_image.jpg', size: "70x70" %>
                        <% end %>
                      <% end %>
                      <%= link_to item.name, item_path(item.id) %>
                    </td>
                    <td class="align-middle"><%= item.price&.to_s(:delimited) %>円</td>
                    <td class="align-middle"><span class="my-auto"><strong class="text-danger"><%= item.comments.average(:score).to_i.round %></strong>点</span></td>
                    <td class="align-middle"><%= item.release_date.strftime("%Y年%m月%d日") %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            
            <div class="d-flex justify-content-center">
              <%= paginate @search_items %>
            </div>
          <!--検索結果が見つからなかった場合-->
          <% else %>
            <strong>検索結果はありませんでした。</strong>
          <% end %>
        </div>
      </div>
      
    </div>
    
    <div class="col-3">
      <%= render "layouts/new_list", items: @new_list_items %>
    </div>
    
  </div>
</div>