<h3 class="text-center mt-5">新規登録</h3>
<div class="card mx-auto my-4 py-3 shadow-lg login-card">
  <div class="mx-3">
    <p class="display-1 text-center"><i class="fas fa-user-circle"></i></p>
    
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "public/shared/error_messages", resource: resource %>
      
      <div class="my-3">
        <strong><%= f.label :name, "ニックネームの入力" %></strong>
        <%= f.text_field :name, class: "form-control", placeholder: "ニックネーム" %>
      </div>
      
      <div class="my-3">
        <strong><%= f.label :email, "メールアドレスの入力" %></strong>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "メールアドレス" %>
      </div>
    
      <div class="my-3">
        <strong>
          <%= f.label :password, "パスワードの入力" %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> 文字以上)</em>
          <% end %>
        </strong>
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "パスワード" %>
      </div>
    
      <div class="my-3">
        <strong><%= f.label :password_confirmation, "パスワードの再入力" %></strong>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "もう一度パスワードを入力" %>
      </div>
    
      <div class="my-4">
        <%= f.submit "新規登録", class: "form-control btn btn-success" %>
      </div>
    <% end %>
    
    <%= render "public/shared/links" %>

  </div>
</div>