<div class="container">
  <div class="row d-flex justify-content-center">
    <%= form_with url: admin_search_path, local: true, method: :get, class: "search-form w-50" do |f| %>
      <div class="input-group">
        <%= f.text_field :word, class: "form-control", placeholder: "ユーザー名を入力" %>
        <%= f.submit "検索" %>
      </div>
    <% end %>
  </div>
  
  <div class="row mt-5">
    <table class="table bg-white">
      <thead class="bg-secondary">
        <th>ID</th>
        <th>名前</th>
        <th>登録日</th>
        <th colspan=""></th>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.id %></td>
            <td><%= link_to user.name, admin_user_path(user.id) %></td>
            <td><%= user.created_at.strftime("%Y年%m月%d日") %></td>
            <td>
              <% if user.is_deleted == true %>
                <strong class="text-danger">退会済み</strong>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    
    
  </div>
</div>