<h3 class="text-center mt-5">ログイン</h3>
<div class="card mx-auto my-4 py-3 shadow-lg login-card">
  <div class="mx-3">
    <p class="display-1 text-center"><i class="fas fa-user-circle"></i></p>
    <%= render "layouts/flash" %> 
    <strong>メールアドレスでログイン</strong>
    
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field my-3">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "メールアドレス" %>
        </div>
      
        <div class="field mt-3">
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "パスワード" %>
        </div>
      
        <% if devise_mapping.rememberable? %>
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me, "入力内容を保存する" %>
        <% end %>
      
        <div class="my-3">
          <%= f.submit "ログイン", class: "form-control btn btn-primary" %>
        </div>
      <% end %>
      
      <%= link_to "ゲストログイン（閲覧用）", users_guest_sign_in_path, method: :post %><br>
      <%= render "public/shared/links" %>

  </div>
</div>