<div class="container">
  
  <div class="row">
    <h2><%= current_user.name %>さんのアカウント情報</h2>
    <div class="my-auto ml-auto">
      <%= link_to "アカウント情報を編集", edit_users_path, class: "btn btn-sm btn-success rounded-0" %>
      <%= link_to "TOPへ", root_path, class: "btn btn-sm btn-secondary rounded-0 mr-5" %>
    </div>
    
  </div>
  
  <div class="card mt-3 bg-white shadow-sm">
    <dl class="row border-bottom mt-3 mx-0 pb-3">
      <dd class="col-3 text-secondary">ユーザーID</dd>
      <dd class="col-9"><strong><%= current_user.id %></strong></dd>
    </dl>
    <dl class="row mt-3 mx-0 pb-3">
      <dd class="col-3 text-secondary">メールアドレス</dd>
      <dd class="col-9"><strong><%= current_user.email %></strong></dd>
    </dl>
  </div>
  
  <div class="card mt-5 bg-white shadow-sm">
    <table>
      <thead class="border-bottom">
        <tr>
          <th class="p-2"><h4>気になっている機種</h4></th>
        </tr>
      </thead>
      <tbody class="d-flex flex-wrap p-2">
        <% @interest_list.each do |item| %>
          <tr>
            <td class="col-6 link-hover">
              <%= link_to item_path(item.id), class: "link-style-none" do %>
                <div class="border">
                  <div class="border-bottom font-weight-bold p-1">
                    <h5><%= item.name %></h5>
                  </div>
                  <div class="p-2 d-flex">
                    <div class="shadow-sm">
                      <% if item.images.attached? %>
                        <%= image_tag item.images.first, size: "150x150" %>
                      <% else %>
                        <% image_tag 'no_image.jpg', size: "100x100" %>
                      <% end %>
                    </div>
                    <div class="ml-3">
                      メーカー：<%= item.maker.name %><br>
                      価格：<%= item.price&.to_s(:delimited) %>円
                    </div>
                  </div>
                </div>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  
</div>