<div class="container">
  
  <div class="row">
    <h2><%= current_user.name %>さんのアカウント情報</h2>
    <div class="my-auto ml-auto">
      <%= link_to "アカウント情報を編集", edit_users_path, class: "btn btn-sm btn-success rounded-0" %>
      <%= link_to "TOPへ", root_path, class: "btn btn-sm btn-secondary rounded-0 mr-5" %>
    </div>
    
  </div>
  
  <div class="card mt-3 bg-white shadow-sm">
    <dl class="row border-bottom mt-3 mx-0 pb-3">
      <dd class="col-3 text-secondary">ユーザーID</dd>
      <dd class="col-9"><strong><%= current_user.id %></strong></dd>
    </dl>
    <dl class="row mt-3 mx-0 pb-3">
      <dd class="col-3 text-secondary">メールアドレス</dd>
      <dd class="col-9"><strong><%= current_user.email %></strong></dd>
    </dl>
  </div>
  
  <div class="card mt-5 bg-white shadow-sm">
    <table>
      <thead class="border-bottom">
        <tr>
          <th class="p-2"><h4>気になっている機種</h4></th>
        </tr>
      </thead>
      <tbody class="p-2">
        <tr class="d-flex flex-wrap m-2" id="list_destroy">
          <% if @interest_list.present? %>
            <%= render "public/items/interest_list", list: @interest_list %>
          <% else %>
            <td><strong>気になる機種は存在しません</strong></td>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>
  
</div>