<div class="card  bg-white border border-dark p-2 mt-3">
  <div class="row">
    <div class="col-3">
      <%= link_to item_path(item.id) do %>
        <%= image_tag item.get_image, class: "w-100 h-100" %>
      <% end %>
    </div>
    <div class="col-9 py-1">
      <div class="d-flex">
        <h6 class="font-weight-bold"><%= link_to item.name, item_path(item.id) %></h6>
      </div>
      <div class="d-flex mt-2">
        <%= item.price.to_s(:delimited) %>円
        <%= item.operation_system.name %>
        防水<%= item.waterploof_i18n %>
      </div>
      <div class="d-flex">
        <span class="my-auto">総評価：<%#= item.comment.score %></span>
      </div>
    </div>
  </div>
</div>