<div class="container">
  
  <div class="bg-white">
    <div class="contents-head">
      <h3 class="font-weight-bold"><%= @item.name %>と比較する</h3>
    </div>
    
    <div class="text-right pr-2">
      <%= link_to "機種一覧に戻る", items_path %>
    </div>
    
    <div class="mt-3 mx-2 mb-3 p-2 border">
      <strong><i class="fas fa-question-circle"></i> 使い方</strong><br>
      <span>
        気になる機種リストにある機種と比較できます。<br>
        気になる機種リストがない場合は、比較したい機種ページで「気になる」ボタンを押してください。
      </span>
    </div>
    
    <%= render "layouts/flash" %>
    
    <%= form_with url: item_compare_result_path, method: :get do |f| %>
      <div class="mt-4 mx-2">
        <table class="table table-bordered table-border-dark table-td-center show-table">
          <thead>
            <th class="col-6 text-center"><%= @item.name %></th>
            <th class="col-6 text-center"><%= f.collection_select :item2_id, @interest_list, :id, :name, prompt: "--選択してください--", class: "form-control" %></th>
          </thead>
          <tbody>
            <tr>
              <td>
                <%= link_to item_path(@item.id), class: "mx-auto" do %>
                  <h4><%= @item.name %></h4>
                <% end %>
                <%= link_to item_path(@item.id), class: "mx-auto" do %>
                  <div><%= image_tag @item.images.first, size: "200x200" %></div>
                <% end %>
              </td>
              <td>
                <%= link_to item_path(@item2.id), class: "mx-auto" do %>
                  <h4><%= @item2.name %></h4>
                <% end %>
                <%= link_to item_path(@item2.id), class: "mx-auto" do %>
                  <div><%= image_tag @item2.images.first, size: "200x200" %></div>
                <% end %>
              </td>
            </tr>
            <tr>
              <th colspan="2">価格</th>
            </tr>
            <tr>
              <td><%= @item.price&.to_s(:delimited) %>円</td>
              <td><%= @item2.price&.to_s(:delimited) %>円</td>
            </tr>
            <tr>
              <th colspan="2">容量</th>
            </tr>
            <tr>
              <td><%= @item.capacity.name %></td>
              <td><%= @item2.capacity.name %></td>
            </tr>
            <tr>
              <th colspan="2">バッテリー</th>
            </tr>
            <tr>
              <td><%= @item.battery.to_s(:delimited) %>mh</td>
              <td><%= @item2.battery.to_s(:delimited) %>mh</td>
            </tr>
            <tr>
              <th colspan="2">画面サイズ・本体サイズ（幅ｘ高さｘ厚さ）・重さ</th>
            </tr>
            <tr>
              <td>
                <%= @item.display %>インチ<br>
                <%= @item.width %>mm x <%= @item.height %>mm x <%= @item.thickness %>mm<br>
                <%= @item.weight %>g
              </td>
              <td>
                <%= @item2.display %>インチ<br>
                <%= @item2.width %>mm x <%= @item.height %>mm x <%= @item2.thickness %>mm<br>
                <%= @item2.weight %>g
              </td>
            </tr>
            <tr>
              <th colspan="2">防水・防塵</th>
            </tr>
            <tr>
              <td><%= @item.waterploof_i18n %></td>
              <td><%= @item2.waterploof_i18n %></td>
            </tr>
            <tr>
              <th colspan="2">認証</th>
            </tr>
            <tr>
              <td><%= @item.authentication.name %></td>
              <td><%= @item2.authentication.name %></td>
            </tr>
            <tr>
              <th colspan="2">CPU</th>
            </tr>
            <tr>
              <td><%= @item.central_processing_unit.name %></td>
              <td><%= @item2.central_processing_unit.name %></td>
            </tr>
            
          </tbody>
        </table>
        
        <div class="text-center">
          <%= f.submit "比較する", class: "font-weight-bold btn btn-lg btn-warning rounded-0 mb-3" %>
        </div>
      </div>
      
    <% end %>
  </div>
</div>