<div class="container">
  <%= render "layouts/flash" %> 
  <div class="row">
    
    <div class="d-flex flex-column col-3">
      <%= render "public/searches/form", url: search_path %>
      <%= render "public/categories/maker", makers: @makers %>
      <%= render "public/categories/operation_system", operation_systems: @operation_systems %>
    </div>
    
    <div class="col-6">
      <table class="table table-borderless bg-white">
        <thead class="bg-deepskyblue">
          <th class="h4 font-weight-bold"><%= @maker.name %>の端末一覧</th>
        </thead>
        <tbody>
          <% @maker.items.each do |item| %>
            <% if item.is_draft == false %> 
              <tr>
                <td>
                  <%= render "public/items/card", item: item %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
          
      </table>
      
    </div>
    
    <div class="col-3">
      <%= render "layouts/new_list", items: @new_list_items %>
    </div>
    
  </div>
</div>